@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
  font-family: 'Noto Sans JP', sans-serif;
}


@layer base {
  body{
    @apply bg-slate-100 text-slate-800 m-0 flex place-items-center min-w-[320px] min-h-svh;
  }
  #root{
    @apply max-w-7xl my-0 mx-auto w-100 p-4 text-center;
  }

  h2,h3,h4{
    @apply font-semibold;
  }
  a{
    @apply no-underline text-inherit;
  }
  button{
    @apply cursor-pointer;
    &:hover{
    @apply text-cyan-500 bg-white;
    }
    &:focus,&:focus-visible{
      @apply outline-none;
    }
  }
}

@keyframes fuwafuwa {
  0% {
    transform:translate(0, 0) rotate(-7deg);
  }
  50% {
    transform:translate(0, -7px) rotate(0deg);
  }
  100% {
    transform:translate(0, 0) rotate(7deg);
  }
}
@theme {
  --animate-fuwafuwa: fuwafuwa 3s ease-in-out infinite alternate;
}
